* {
    /* border: 1px solid red; */
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0px;
    height: 60px;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item{
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.landing-page {
    width: 100%;
    margin-top: -100px;
}

.actor-picture {
    margin-top: 10px;
}

.actor-container {
    margin-top: 10px;
    border-top: 1px solid grey;
}

.actor-header {
text-align: center;
border-style: groove;
}

.actors-dimension{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.actor-info-container {
    display: flex;
    flex-direction: column;
}

.actor-info-title {
    font-weight: 900;
}

.actor-info-readmore {
    text-align: ce;
}

.mission-header {
    text-align: center;
}

.mission-body {
    margin: 5%;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.imgmap {
    width: 250px;
}

.foot-info {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foot-shows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foot-social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foot-head {
    font-size: 1.5em;
}